@import "../../styles/breakpoints.scss";

.navbar__toggle {
	position: relative;
	top: 0;
	width: 30px;
	height: 20px;
	display: none;
	background: transparent;
	padding: 5px;
	cursor: pointer;
	z-index: 2;

	@include breakpoint(medium) {
		display: inherit;
	}
}

[class*="navbar__toggle__line"] {
	display: block;
	position: absolute;
	left: 0;
	width: 30px;
	height: 2px;
	background: #ffffff;
	transform: rotate(0);
	transition: transform 0.2s ease-in-out, top 0.2s ease-in-out, opacity 0.2s;
}

.navbar__toggle__line {
	&--top {
		top: 0;
	}

	&--middle {
		top: 9px;
	}

	&--bottom {
		top: 18px;
	}

	.navbar__wrapper.open &--top {
		top: 9px;
		transform: rotate(135deg);
	}

	.navbar__wrapper.open &--middle {
		transform: scaleX(0);
		opacity: 0;
	}

	.navbar__wrapper.open &--bottom {
		transform: rotate(-135deg);
		top: 9px;
	}
}
