@import "../../styles/breakpoints.scss";

.navbar__toggle {
	display: none;

	@include breakpoint(medium) {
		display: flex;
		flex-direction: column;
		gap: 7px;
		background: transparent;
		padding: 5px;
		cursor: pointer;
		z-index: 2;
	}
}

[class*="navbar__toggle__line"] {
	position: relative;
	width: 30px;
	height: 2px;
	background: #ffffff;
	transition: all 0.15s ease-in-out;
}

.navbar__toggle__line {
	&--top {
		transform-origin: top left;
	}

	&--bottom {
		transform-origin: bottom left;
	}

	.navbar__wrapper.open &--top {
		transform: rotate(45deg);
		translate: 0 -2px;
	}

	.navbar__wrapper.open &--middle {
		transform: scale(0);
	}

	.navbar__wrapper.open &--bottom {
		transform: rotate(-45deg);
	}
}
